#vertical_slider{
  -webkit-appearance: slider-vertical;
  height: 70%;
  position: fixed;

}
#current_year{
	bottom: 45px;
	position: fixed;
}

#add_market_btn{
	background-color:rgba(0,0,0,.03);
}

#add_market_btn button{
	border: none;
}